.main{
    display: flex; 
}

.content{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-width:80%;
    margin-left:300px;
    border-left: solid 0.5px rgb(33, 33, 33,0.2);
    
}

.mainContent{
    padding: 0 4rem;
    padding-right:20rem;
}

.footer{
    padding:0;
    margin-right:-100px;
    text-align: center;
}

/* .footer > div{
    padding-right:25rem;
} */