.main{
    display: flex; 
}

.content{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    margin-left:300px;
    border-left: solid 0.5px rgb(33, 33, 33,0.2);
    
}

.mainContent{
    padding: 0 4rem;
    padding-right:25%;
}