.main{
    display: flex;
    height:100vh;
    
    
}

.content{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    margin-left:300px;
}

.mainContent{
    padding: 0 2rem;
    padding-right:25%;
}