.sidebar{
    position: fixed;
    top: 5.2rem !important;
    width: 300px;
    height: 100vh;
    border-right: solid 0.5px rgb(33, 33, 33,0.2);
    overflow-y: auto;
    flex-shrink: 0;
    overscroll-behavior: contain;
}