:root{
    --primary-color: #443d70;
    --primary-color-darker: #2f2a4d;
    --secondary-color:#766CA4;
    --contrast-color: #5ce1e6;
    --general-color: #F4ECFF;
    --general-color-dark:#36333f;
    --pink-tinge: #ff80d5;
}

.sidebar{
    position: fixed;
    top: 5.2rem !important;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    flex-shrink: 0;
    overscroll-behavior: contain;
}

.sidelist{
   padding-left: 5rem;
}

.sidelist li a{
    color: var(--secondary-color);
    text-decoration: none;
    transition:0.2s;
    
}

.sidelist li{
    list-style-type: none;
    width:80%;
    padding:0.2rem 1rem;
    transition:0.2s;
}

.sidelist li:hover > a{
    background-color: var(--primary-color);
    color:white;
    width:80%;
    padding:0.2rem 0.5rem;
    transition:0.5s;
    border-radius: 4px;
}



.sidelistHeading{
    letter-spacing: 2px;
    padding-bottom: 0.5rem;
    padding:0.2rem 1rem;
}


