.sidebar{
    position: sticky;
    top: 5.2rem;
    width: 300px;
    height: calc(((100vh - 1.5rem) - 64px) - 42px);
    border-right: solid 0.5px rgb(33, 33, 33,0.2);
    overflow-y: auto;
    flex-shrink: 0;
    overscroll-behavior: contain;
}