:root{
    --primary-color: #443d70;
    --secondary-color:#766CA4;
    --contrast-color: #00C89B;
    --general-color: #F4ECFF;
}

.navbar{
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3.5rem;
    font-weight: bolder;
    font-size: 1.2rem;
}

.nav-pills{
    display:flex;
}

.nav-pills div{
    margin: 0 1rem;
}

.nav-link-active{
    color: var(--primary-color);;
}

.nav-link{
    cursor:pointer;
}
.nav-link:hover{
    color: var(--primary-color);
}

.nav-brand{
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    color: var(--primary-color);
    letter-spacing: 2px; 
}