:root{
    --primary-color: #443d70;
    --secondary-color:#766CA4;
    --contrast-color: #00C89B;
    --general-color: #F4ECFF;
}

.navbar{
    color: var(--secondary-color);
    position:sticky;
    top:0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 3.5rem;
    font-weight: bolder;
    font-size: 1.2rem;
    border-bottom: solid 0.5px rgb(33, 33, 33,0.2);
    z-index:2; 
    /* Make Dismissible Alert as a flex and remove position relative */
}

.nav-pills{
    display:flex;
    align-items: center;
}

.nav-pills div{
    padding: 0 1rem;
}

.nav-link-active{
    color: var(--primary-color);
}

.nav-link a{
    cursor:pointer;
    text-decoration: none;
    color:var(--secondary-color);
}
.nav-link a:hover{
    color: var(--primary-color);
}

.nav-brand{
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    color: var(--primary-color);
    letter-spacing: 2px; 
}
.nav-brand a{
    color: inherit;
    text-decoration: none;
}