:root{
    --primary-color: #443d70;
    --secondary-color:#766CA4;
    --contrast-color: #00C89B;
    --general-color: #F4ECFF;
}

body{
    margin:0;
    padding:0;
    font-weight: bolder;
    font-size: 1.2rem;
    
}
.navbar{
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3.5rem;
}

.navbar-pages{
    display:flex;
}

.navbar-pages div{
    margin: 0 1rem;
}

.nav-link-active{
    color: var(--primary-color);;
}

.nav-link{
    cursor:pointer;
}
.nav-link:hover{
    color: var(--primary-color);
}